.app-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.perfil-container {
  width: 600px;
}

.card-container {
  flex: 1;
  max-width: 700px;
}
