MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/image-manager?retryWrites=true&w=majority
MONGODB_DB=image-manager

GROQ_API_KEY=tu_groq_api_key

FILEBASE_ACCESS_KEY=tu_filebase_access_key
FILEBASE_SECRET_KEY=tu_filebase_secret_key
FILEBASE_BUCKET=tu_bucket_name
